name: Tests

on: [push, pull_request, workflow_dispatch]

env:
  FORCE_COLOR: 2

jobs:
  test:
    name: Node ${{ matrix.node }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node: [14, 16, 18, 20, 22]

    steps:
      - name: Clone repository
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: npm

      - run: java -version

      - name: Install npm dependencies
        run: npm ci

      - name: Run tests
        run: npm test
